.parentServices
{
    /* border: 1px solid red; */
height: 358px;
width: 100%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
place-items: center;
gap:1px;
margin-top: 2px;
}
.leftServices
{
/* border: 1px solid red; */
width: 334px;
height: 170px;
text-align: center;
font-size: 16px;


}
.middleServices
{
    text-align: center;
    /* border: 1px solid red; */
width: 334px;
height: 170px;
font-size: 16px;

}


.rightServices
{
    /* border: 1px solid red; */
width: 334px;
font-size: 16px;
height: 170px;
text-align: center;


}

@media screen and (max-width:991px) {
  .parentServices{

    display: flex;

  
    
  }

  

  
}
@media screen and (max-width:471px) {
  
.parentServices
{
  display: grid;
grid-template-columns: 1fr;
gap:10px;
height: auto;
margin-top:12px;
width: 100%;

}




}




.leftServices:hover,.middleServices:hover,.rightServices:hover{
   
    cursor: pointer;
color: rgb(76, 75, 75);
border-bottom: 1px solid blue !important;
}
@keyframes moveUp {
    0% {
      transform: translateY(0); /* Start position */
    }
    50% {
      transform: translateY(-10px); /* Move up */
    color:rgb(93, 93, 139)
    
    }
    100% {
      transform: translateY(0); /* Return to start position */
    }
  }
  
  .animated-icon {
    animation:  2.5s moveUp ease infinite; /* Apply animation */
  }
  