@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  }



.list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
  text-align: center;
  width: 100%;
  /* border: 1px solid red; */
}

/* @media screen and (max-width:420px) {
  .appbar-navbar{

width: 100%;
  }


} */



.list li {
  display: flex;
  align-items: center;
}

.list .navlink {
  text-decoration: none;
  /* border: 1px solid red; */
  color: gray;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.list .navlink h1 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.search-container {/* this is for the search input*/
  display: flex;
  justify-content: flex-end;
  width: 400px;
  /* border: 1px solid red; */
}

.logoimg img
{

width: 90px;
height: 50px;

}
 







.search {
  width: 300px;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  transition: width 0.5s ease;
  /* border: 1px solid red; */
}

.search:hover {
  width: 370px;
}

.active {
  color: var(--blue) !important;
  text-decoration: none;
  border-bottom: 2px solid blue;
  font-weight: bold !important;
  height: 40px;
}

.navlink:hover {
  color: black;
}

@media screen and (max-width:479px) {
  
  .appbar-navbar{
  overflow: hidden;
  text-align: center;
  }
  .search
  {
    width: 40%;
    overflow: hidden;
  }
  
  .search-container
  {
    width: 30%;
    overflow: hidden;
  
  }
  .search-icon{
  
  overflow: hidden;
  
  
  }
  
  } 